<div class="myNavbar">
    <nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
        <a class="navbar-brand" routerLink="/home">
            <img src="assets/images/odds_logo.png" class="navbar-logo" />
        </a>
        <!-- button sidebar-->
        <a onclick="sidebarToggle()" class="navbar-toggler" type="button">
            <i class="bi bi-list"></i>
        </a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item dropdown">
                    <a class="nav-link" data-bs-toggle="dropdown">
                        <img class="navbar-profile" src="assets/images/avatar.png" />
                        <span class="navbar-status-indicator"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
