<div class="container">
    <div class="card-container">
        <div class="card-body">
            <div class="card-header">
                <img src="assets/images/odds_logo.png" />
                <h4>Booking Management</h4>
            </div>
            <form [formGroup]="loginForm">
                <div class="row">
                    <label class="form-label">Username :</label>
                    <mat-form-field class="" appearance="outline">
                        <i matPrefix class="bi bi-person-fill"></i>
                        <input matInput type="text" placeholder="Enter your username" />
                    </mat-form-field>
                    <label class="form-label">Password :</label>
                    <mat-form-field class="" appearance="outline">
                        <i matPrefix class="bi bi-key-fill"></i>
                        <input
                            matInput
                            placeholder="Enter your password"
                            [type]="hidePassword ? 'password' : 'text'"
                            formControlName="password"
                        />
                        <a mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                            <i
                                [ngClass]="hidePassword ? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill'"
                            ></i>
                        </a>
                    </mat-form-field>
                </div>
                <div class="button-container">
                    <button type="button" class="btn btn-success w-100">Sign In</button>
                </div>
            </form>
        </div>
    </div>
</div>
