<div class="container">
    <div class="card-container">
        <div class="card-body">
            <div class="card-header">
                <img src="assets/images/odds_logo.png" />
                <h4>Booking Management</h4>
            </div>
            <div>
                <form action="">
                    <div class="row">
                        <label class="form-label" for="username">Username :</label>
                        <mat-form-field class="" appearance="outline">
                            <i matPrefix class="bi bi-person-fill"></i>
                            <input matInput type="text" placeholder="Username" />
                        </mat-form-field>
                        <label class="form-label" for="password">Password :</label>
                        <mat-form-field class="" appearance="outline">
                            <i matPrefix class="bi bi-key-fill"></i>
                            <input matInput type="password" placeholder="Password" />
                        </mat-form-field>
                    </div>
                    <div class="button-container">
                        <button type="button" class="btn btn-success w-100">เข้าสู่ระบบ</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
