/* bootstrap custom */

/* custom */
.sidebar li a:hover {
    text-decoration: none;
    color: #000000;
    background: #eaeaf1;
    transform: none;
    transition: none;
}

.sidebar li div a:hover {
    background-color: unset;
}

.sidebar {
    min-height: calc(100vh - 64px);
    background: #ffffff;
    padding: 0;
    width: 255px;
    z-index: 11;
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    position: fixed;
}

/* style for off-canvas menu*/
@media screen and (max-width: 991px) {
    .sidebar-offcanvas {
        position: fixed;
        max-height: calc(100vh - 64px);
        top: 64px;
        bottom: 0;
        overflow: auto;
        left: -255px;
        -webkit-transition: all 0.25s ease-out;
        -o-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }
    .sidebar-offcanvas.active {
        left: 0;
        /*margin-top: -10px;*/
    }
}

.side-profile {
    position: absolute;
    padding: 1rem;
    bottom: 0;
}

@media (min-width: 992px) {
    .side-profile {
        visibility: hidden;
    }
}

.sidebar .nav {
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column;
}

.sidebar .sidebar-designation {
    font-size: 0.75rem;
    margin-bottom: 0;
    color: #7e7e7e;
}

.sidebar .sidebar-designation {
    font-size: 0.75rem;
    margin-bottom: 0;
    color: #001737;
}
.sidebar .sidebar-name {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    color: #000000;
}
.sidebar-light .sidebar .sidebar-name {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0;
    color: #000;
}
.sidebar .sidebar-profile-image {
    position: relative;
    padding-top: 5px;
}
.sidebar .sidebar-header {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 0;
    color: #000000;
}

.sidebar-profile {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    border: 1px solid #fff;
}

.sidebar-profile-name {
    margin-left: 1rem;
}

.sidebar-status-indicator {
    width: 14px;
    height: 14px;
    background: #17c964;
    border: 2px solid #fff;
    border-radius: 100%;
    display: block;
    position: absolute;
    left: 3.125rem;
    bottom: 1rem;
}

.sidebar .nav-item .nav-link {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    white-space: nowrap;
    padding: 1rem 1.25rem;
    color: #000000;
    -webkit-transition-duration: 0.45s;
    -moz-transition-duration: 0.45s;
    -o-transition-duration: 0.45s;
    transition-duration: 0.45s;
    transition-property: color;
    -webkit-transition-property: color;
    cursor: pointer;
}

.sidebar-profile-image img {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    margin-right: 0.625rem;
}

.sidebar-menu {
    margin-left: 0.625rem;
}

#toggled {
    width: calc(100% - 255px);
    min-height: calc(100vh - 64px);
    right: 0;
    position: absolute;
}
