
<div id="toggled"></div>
<nav class="sidebar sidebar-offcanvas" data-bs-scroll="true" id="sidebar">
    <ul class="nav" onclick="sidebarToggle()">
        <!-- <li class="nav-item border-bottom">
            <div class="d-flex">
                <div class="sidebar-profile-name">
                    <p class="sidebar-header">ODDS ADMIN</p>
                </div>
            </div>
        </li> -->
        <li class="nav-item border-bottom">
            <a class="nav-link" routerLink="/home">
                <i class="bi bi-speedometer2"></i>
                <span class="sidebar-menu"> Dashboard</span>
            </a>
        </li>
        <li class="nav-item border-bottom">
            <a class="nav-link">
                <i class="bi bi-envelope-check"></i>
                <span class="sidebar-menu">ยืนยันอีเมลแล้ว</span>
            </a>
        </li>
        <li class="nav-item border-bottom">
            <a class="nav-link">
                <i class="bi bi-envelope-exclamation"></i>
                <span class="sidebar-menu">ยังไม่ยืนยันอีเมล</span>
            </a>
        </li>
        <li class="nav-item border-bottom">
            <a class="nav-link" routerLink="/allbooking">
                <i class="bi bi-card-list"></i>
                <span class="sidebar-menu">รายการจองทั้งหมด</span>
            </a>
        </li>
    </ul>
    <ul class="nav side-profile w-100" onclick="sidebarToggle()">
        <li class="nav-item d-flex">
            <div class="">
                <img class="sidebar-profile" src="assets/images/avatar.png" />
                <span class="sidebar-status-indicator"></span>
            </div>
            <div class="sidebar-profile-name">
                <p class="sidebar-name">Admin</p>
                <a routerLink="" class="sidebar-designation"> Sign Out </a>
            </div>
        </li>
    </ul>
</nav>