<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">รายการจองทั้งหมด</h3>
            <hr />
            <div class="row myFilter">
                <div class="col">
                    <label for="filterRoom">ห้อง</label>
                    <mat-form-field appearance="outline">
                        <mat-select disableRipple>
                            <mat-option value="AllRoom">All</mat-option>
                            <mat-option value="AllStar">AllStar</mat-option>
                            <mat-option value="Neon">Neon</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <label for="filterRoom">สถานะ</label>
                    <mat-form-field appearance="outline">
                        <mat-select disableRipple>
                            <mat-option value="AllRoom">All</mat-option>
                            <mat-option value="AllStar">AllStar</mat-option>
                            <mat-option value="Neon">Neon</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="">
                <nz-table class="" #rowSelectionTable [nzData]="bookings" [nzLoading]="isLoading">
                    <thead>
                        <tr>
                            <th nzColumnKey="room">ห้อง</th>
                            <th nzColumnKey="fullName">ชื่อ</th>
                            <th nzColumnKey="startDate">เริ่มจอง</th>
                            <th nzColumnKey="ToDate">จองถึง</th>
                            <th nzColumnKey="status">สถานะ</th>
                            <th nzColumnKey="other">เพิ่มเติม</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of rowSelectionTable.data">
                            <td>{{ data.room }}</td>
                            <td>{{ data.fullName }}</td>
                            <td>{{ data.startDate | date: "dd MMM YYYY, HH:mm" }}</td>
                            <td>{{ data.endDate | date: "dd MMM YYYY, HH:mm" }}</td>
                            <td>{{ data.status }}</td>
                            <td>
                                <button class="btn btn-primary"><i class="bi bi-info-circle"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>
</div>
