<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">รายการจองทั้งหมด</h3>
            <hr />
            <!-- <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Room</th>
                            <th scope="col">Name</th>
                            <th scope="col">Start</th>
                            <th scope="col">End</th>
                            <th scope="col">*</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="align-middle">
                            <th scope="row">1</th>
                            <td>All Star</td>
                            <td>Panupan</td>
                            <td>2022/06/28 18.00</td>
                            <td>2022/06/29 06.00</td>
                            <td><button type="button" class="btn btn-primary"><span><i class="bi bi-info-circle"></i></span></button></td>
                        </tr>
                    </tbody>
                </table>
            </div> -->
            <div class="tableee">
                <table class="table table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Start date</th>
                            <th>End Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let booking of bookings">
                            <td>{{ booking.fullName }}</td>
                            <td>{{ booking.email }}</td>
                            <td>{{ booking.startDate }}</td>
                            <td>{{ booking.endDate }}</td>
                            <td>{{ booking.status }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
