/* bootstrap custom */
.card {
    border-radius: 0;
    border: 1px solid #e7eaed;
}

.btn {
    padding: 1px 6px;
}

.modal-content {
    border: none;
    font-size: 1rem;
}

.btn-close:focus {
    border: none;
}

/* ng zorro */
::ng-deep .ant-table {
    font-size: 1rem;
}

::ng-deep .ant-table-thead > tr > th {
    text-align: center;
    cursor: default;
}
::ng-deep .ant-table-tbody > tr > td {
    text-align: center;
    cursor: default;
}

::ng-deep button > i > svg {
    margin-bottom: 6px;
}
::ng-deep a > div > i > svg {
    margin-bottom: 6px;
}

::ng-deep .ant-pagination {
    justify-content: center !important;
}

.ant-picker {
    padding: 0 11px;
}

::ng-deep .ant-picker-now { 
    display: none !important; 
}

::ng-deep .ant-picker-focused {
    border-width: 2px !important;
    border-color: #3f51b5 !important;
}

.ant-picker-input>input:focus {
    left: 30px !important;
}

::ng-deep .ant-picker-suffix {
    display: none !important;
}

::ng-deep .ng-tns-c106-5 svg {
    margin-left: -0.75rem !important;
}

::ng-deep .ng-tns-c106-4 svg {
    margin-left: -0.75rem !important;
}

::ng-deep nz-date-picker svg {
    font-size: 0.75rem !important;
}

::ng-deep .ant-picker-clear {
    margin-top: 4px;
}

::ng-deep nz-date-picker:hover {
    cursor: pointer !important;
}

::ng-deep .ant-picker-input>input {
    cursor: pointer !important;
    font-size: 1rem;
}

::ng-deep nz-date-picker ::placeholder {
    color: #000000 !important;
}

/* material custom */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.625rem 0 0.375rem 0;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0 !important;
    padding-bottom: 0 !important;
}

::ng-deep .mat-form-field-infix {
    border-top: 0;
}

::ng-deep .mat-option {
    height: 2.375rem !important;
}

::ng-deep .mat-select-arrow-wrapper {
    height: 0;
    padding-top: 0.5rem !important;
}

::ng-deep .mat-select-placeholder {
    color: #000000 !important;
}

/* custom */
::ng-deep .room-filter .mat-form-field-infix {
    width: 5rem !important;
}
::ng-deep .status-filter .mat-form-field-infix {
    width: 6.25rem !important;
}

::ng-deep .startdate-filter {
    width: 8.5rem !important;
}

::ng-deep .enddate-filter {
    width: 8.5rem !important;
}

.control-label {
    color: #000000;
    font-weight: 900 !important;
    font-style: normal;
    padding-right: 0;
    text-align: right;
    margin-bottom: 0 !important;
}

.row-filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    margin-bottom: 1.25rem;
}

.date-picker {
    position: relative;
    box-shadow: none;
    color: #666666;
    border-radius: 5px;
    z-index: 0;
    height: 30px;
    transition: none;
    font-size: 20px;
}

.date-picker:hover {
    border-color: #000000;
    border-width: 2px !important;
    padding: 4px 10px;
}

.date-picker.ant-picker-focused {
    border-width: 2px !important;
    padding: 4px 10px;
}

.date-picker.ng-invalid.ng-touched {
    border-color: #f44336;
    border-width: 2px;
    padding: 4px 10px;
}

.ant-picker-disabled.date-picker:hover {
    border-color: #666666;
    border-width: 1px !important;
    padding: 4px 11px;
}

.button-filter {
    height: 30px;
}

.button-filter button {
    margin-right: 0.25rem;
}