<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">รายการจองทั้งหมด</h3>
            <hr />
            <form [formGroup]="filterForm">
                <div class="row-filter">
                    <mat-form-field class="room-filter" appearance="outline">
                        <mat-select
                            placeholder="ห้อง"
                            value=""
                            formControlName="room"
                            (selectionChange)="onSelectRoom()"
                        >
                            <mat-option value="">ห้อง</mat-option>
                            <mat-option value="All Stars">All Star</mat-option>
                            <mat-option value="Neon">Neon</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="status-filter" appearance="outline">
                        <mat-select
                            placeholder="สถานะ"
                            value=""
                            formControlName="status"
                            (selectionChange)="onSelectStatus()"
                        >
                            <mat-option value="">สถานะ</mat-option>
                            <mat-option value="true">ยืนยันแล้ว</mat-option>
                            <mat-option value="false">ยังไม่ยืนยัน</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <nz-date-picker
                class="date-picker startdate-filter"
                placeholder="วันที่เริ่มจอง"
                nzFormat="dd/MMM/yyyy"
                nz-icon
                nzType="caret-down"
                [nzInputReadOnly]="true"
            ></nz-date-picker>
            <nz-date-picker
                class="date-picker enddate-filter"
                nzPlaceHolder="วันสิ้นสุด"
                nzFormat="dd/MMM/yyyy"
                nz-icon
                nzType="caret-down"
                [nzInputReadOnly]="true"
            ></nz-date-picker>
                </div>
            </form>
            
            <div class="tableBooking">
                <nz-table
                    style="overflow-x: scroll"
                    nzSize="middle"
                    #rowSelectionTable
                    [nzData]="bookings"
                    [nzLoading]="isLoading"
                    [nzSimple]="true"
                    [nzPageSize]="10"
                >
                    <thead>
                        <tr>
                            <!-- nzEllipsis -->
                            <th nzColumnKey="room">ห้อง</th>
                            <th nzColumnKey="fullName">ชื่อ</th>
                            <th nzColumnKey="startDate">เริ่มจอง</th>
                            <th nzColumnKey="ToDate">จองถึง</th>
                            <th nzColumnKey="status">สถานะ</th>
                            <th nzColumnKey="other">เพิ่มเติม</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of rowSelectionTable.data; let i = index">
                            <td>{{ data.room }}</td>
                            <td>{{ data.fullName }}</td>
                            <td>{{ data.startDate | date: "dd MMM YYYY, HH:mm" }}</td>
                            <td>{{ data.endDate | date: "dd MMM YYYY, HH:mm" }}</td>
                            <td *ngIf="data.status" style="color: green">
                                <span class="badge rounded-pill bg-success">ยืนยันแล้ว</span>
                            </td>
                            <td *ngIf="!data.status" style="color: red">
                                <span class="badge rounded-pill bg-danger">ยังไม่ยืนยัน</span>
                            </td>
                            <td>
                                <a
                                    (click)="onModal(i)"
                                    class="btn btn-primary"
                                    data-bs-toggle="modal"
                                    data-bs-target="#detailModal"
                                >
                                    <i class="bi bi-info-circle"></i>
                                </a>
                            </td>
                            <div
                                class="modal fade"
                                id="detailModal"
                                tabindex="-1"
                                aria-hidden="true"
                            >
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">
                                                รายละเอียดการจอง
                                            </h5>
                                            <a
                                                type="button"
                                                class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Close"
                                            ></a>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6 col-lg-6">
                                                    <div>
                                                        <label class="control-label">ชื่อ :</label>
                                                        <p>
                                                            คุณ
                                                            {{
                                                                rowSelectionTable.data[iBooking]
                                                                    .fullName
                                                            }}
                                                        </p>
                                                    </div>
                                                    <div>
                                                        <label class="control-label">อีเมล :</label>
                                                        <p>
                                                            {{
                                                                rowSelectionTable.data[iBooking]
                                                                    .email
                                                            }}
                                                        </p>
                                                    </div>
                                                    <div>
                                                        <label class="control-label"
                                                            >เบอร์โทรศัพท์ :</label
                                                        >
                                                        <p>
                                                            {{
                                                                rowSelectionTable.data[iBooking]
                                                                    .phoneNumber
                                                            }}
                                                        </p>
                                                    </div>
                                                    <div>
                                                        <label class="control-label">สถานะ :</label>
                                                        <p
                                                            *ngIf="
                                                                rowSelectionTable.data[iBooking]
                                                                    .status
                                                            "
                                                            style="color: green"
                                                        >
                                                            <span
                                                                class="badge rounded-pill bg-success"
                                                                >ยืนยันแล้ว</span
                                                            >
                                                        </p>
                                                        <p
                                                            *ngIf="
                                                                !rowSelectionTable.data[iBooking]
                                                                    .status
                                                            "
                                                            style="color: red"
                                                        >
                                                            <span
                                                                class="badge rounded-pill bg-danger"
                                                                >ยังไม่ยืนยัน</span
                                                            >
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-6">
                                                    <div>
                                                        <label class="control-label"
                                                            >ห้องที่จอง :</label
                                                        >
                                                        <p>
                                                            {{
                                                                rowSelectionTable.data[iBooking]
                                                                    .room
                                                            }}
                                                        </p>
                                                    </div>
                                                    <div>
                                                        <label class="control-label"
                                                            >เหตุผลการจอง :</label
                                                        >
                                                        <p>
                                                            {{
                                                                rowSelectionTable.data[iBooking]
                                                                    .reason
                                                            }}
                                                        </p>
                                                    </div>
                                                    <div>
                                                        <label class="control-label"
                                                            >วันที่เริ่มจอง :</label
                                                        >
                                                        <p>
                                                            {{
                                                                rowSelectionTable.data[iBooking]
                                                                    .startDate
                                                                    | date: "dd MMMM YYYY, HH:mm"
                                                            }}
                                                        </p>
                                                    </div>
                                                    <div>
                                                        <label class="control-label"
                                                            >วันที่สิ้นสุด :</label
                                                        >
                                                        <p>
                                                            {{
                                                                rowSelectionTable.data[iBooking]
                                                                    .endDate
                                                                    | date: "dd MMMM YYYY, HH:mm"
                                                            }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>
</div>
