/* bootstrap custom */
.card {
    border-radius: 0;
    border: 1px solid #e7eaed;
}

.btn {
    padding: 1px 6px;
}

/* ng zorro */
::ng-deep .ant-table-thead>tr>th {
    text-align: center;
    cursor: default;
}
::ng-deep .ant-table-tbody>tr>td {
    text-align: center;
    cursor: default;
    padding: 0.75rem;
}

::ng-deep button > i > svg {
    margin-bottom: 6px ;
}
::ng-deep a > div > i > svg {
    margin-bottom: 6px;
}

/* custom */
.pagination {
    justify-content: center !important;
}

::ng-deep .mat-form-field-infix {
    border-top: 0;
}
