
/* bootstrap custom */
.navbar-brand {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
}

.navbar {
    /* background-color: #88cee1; */
    background: linear-gradient(45deg, #f00b51 0%, #7366ff 100%);
    padding: 0.5rem 1.5rem;
}

@media only screen and (min-width: 992px) {
    .navbar {
        padding: 0 1.5rem;
    }
}

.navbar-toggler {
    font-size: 1.688rem;
    border: none;
    line-height: normal;
}

.dropdown-menu {
    left: auto;
    right: 0;
}

/* custom */
a {
    color: unset;
}

.navbar-logo {
    width: 80%;
    height: auto;
    max-width: 150px;
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: #000000;
    /*letter-spacing: 1px;*/
    cursor: pointer;
}
#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
    /*color: #01a6fe;*/
    text-shadow: #01a6fe 0em 0em 0.2em;
}

.navbar-profile {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    border: 1px solid #fff;
}

.navbar-status-indicator {
    width: 14px;
    height: 14px;
    background: #17c964;
    border: 2px solid #fff;
    border-radius: 100%;
    display: block;
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
}

.dropdown .dropdown-toggle:after {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    font: normal normal normal 24px/1 "typicons";
    content: "\e01d";
    width: auto;
    height: auto;
    vertical-align: middle;
    line-height: 0.625rem;
    font-size: 0.875rem;
    margin-left: 5px;
}

.dropdown .dropdown-menu {
    margin-top: 0rem;
    font-size: 0.875rem;
    box-shadow: 0px 1px 15px 1px rgba(230, 234, 236, 0.35);
    border-radius: 0;
    padding: 0;
}

.dropdown .dropdown-menu .dropdown-item {
    font-size: 0.875rem;
    padding: 0.5rem 1.5rem;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #001737;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e8eff9;
    border-radius: 0.25rem;
}
.dropdown-menu-right {
    right: 0;
    left: auto;
}
.dropup .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: 0.125rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    color: #001737;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #eaeaf1;
}

.dropdown-menu.show {
    display: block;
}


.sidebar li a:hover {
    text-decoration: none;
    color: #000000;
    background: #eaeaf1;
    transform: none;
    transition: none;
}

.sidebar li div a:hover {
    background-color: unset;
}

.sidebar {
    min-height: calc(100vh - 64px);
    position: fixed;
    padding: 0;
    top: 64px;
    left: 0;
    width: 255px;
    transition: transform 255ms ease-in-out;
    background: #ffffff;
    z-index: 11;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

@media screen and (max-width: 991px) {
    .sidebar {
        min-height: calc(100vh - 64px);
        position: fixed;
        padding: 0;
        top: 64px;
        left: 0;
        width: 255px;
        transform: translateX(-255px);
        transition: transform 255ms ease-in-out;
        background: #ffffff;
        z-index: 11;
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    }
}

.side-profile {
    position: absolute;
    padding: 1rem;
    bottom: 0;
}

@media (min-width: 992px) {
    .side-profile {
        visibility: hidden;
    }
}

.sidebar .nav {
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column;
}

.sidebar .sidebar-designation {
    font-size: 0.75rem;
    margin-bottom: 0;
    color: #7e7e7e;
}

.sidebar .sidebar-designation {
    font-size: 0.75rem;
    margin-bottom: 0;
    color: #001737;
}
.sidebar .sidebar-name {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    color: #000000;
}
.sidebar-light .sidebar .sidebar-name {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0;
    color: #000;
}
.sidebar .sidebar-profile-image {
    position: relative;
    padding-top: 5px;
}
.sidebar .sidebar-header {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 0;
    color: #000000;
}

.sidebar-profile {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    border: 1px solid #fff;
}

.sidebar-profile-name {
    margin-left: 1rem;
}

.sidebar-status-indicator {
    width: 14px;
    height: 14px;
    background: #17c964;
    border: 2px solid #fff;
    border-radius: 100%;
    display: block;
    position: absolute;
    left: 3.125rem;
    bottom: 1rem;
}

.sidebar .nav-item .nav-link {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    white-space: nowrap;
    padding: 1rem 1.25rem;
    color: #000000;
    -webkit-transition-duration: 0.45s;
    -moz-transition-duration: 0.45s;
    -o-transition-duration: 0.45s;
    transition-duration: 0.45s;
    transition-property: color;
    -webkit-transition-property: color;
    cursor: pointer;
}

.sidebar-profile-image img {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    margin-right: 0.625rem;
}

.sidebar-menu {
    margin-left: 0.625rem;
}

input[type="checkbox"]:checked~.sidebar {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}


