@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
@import "~ng-zorro-antd/ng-zorro-antd.min.css";

* {
    font-family: "Kanit", sans-serif !important;
}

html,
body {
    font-size: 1rem;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: url("/assets/images/odds-bg.png") center center / 400px repeat fixed, linear-gradient(45deg, #f00b51 0%, #7366ff 100%) !important;
}

.main-panel {
    transition: width 0.25s ease, margin 0.25s ease;
    width: calc(100% - 255px);
    min-height: calc(100vh - 64px);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-left: 255px;
    padding-top: 1.5rem;
}

@media (max-width: 991px) {
    .main-panel {
        margin-left: 0;
        width: 100%;
    }
}

.page-body-wrapper {
    /* background-color: #e8eff9; */
    background-color: #eaedef;
}

.page-body-wrapper {
    min-height: calc(100vh - 64px);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    padding-top: 64px;
}

.page-body-wrapper .full-page-wrapper {
    width: 100%;
    min-height: 100vh;
    padding-top: 0;
}

@media (min-width: 992px) {
    .page-body-wrapper {
        position: relative;
    }
    .page-body-wrapper .sidebar {
        transition: none;
    }
    .main-panel {
        width: calc(100% - 220px);
        transition: none;
    }
}
