@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~ng-zorro-antd/ng-zorro-antd.min.css";

* {
    font-family: "Kanit", sans-serif !important;
}

html,
body {
    font-size: 1rem;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: url("/assets/images/odds-bg.png") center center / 400px repeat fixed, linear-gradient(45deg, #f00b51 0%, #7366ff 100%) !important;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-thumb {
    width: 0;
}

.main-panel {
    transition: width 0.25s ease, margin 0.25s ease;
    width: calc(100% - 255px);
    min-height: calc(100vh - 64px);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-left: 255px;
    padding: 1.5rem 0;
}

@media (max-width: 991px) {
    .main-panel {
        margin-left: 0;
        width: 100%;
    }
}

.page-body-wrapper {
    min-height: calc(100vh - 64px);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    padding-top: 64px;
    background-color: #eaedef;
}

@media (min-width: 992px) {
    .page-body-wrapper {
        position: relative;
    }
}
