<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-xl-3">
            <div class="card text-center" style="background-color: #53b9c9">
                <div class="card-body">
                    <h3 class="card-title">การจองทั้งหมด</h3>
                    <p style="font-size: 5rem; cursor: default">16</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
            <div class="card text-center" style="background-color: #ecb134">
                <div class="card-body">
                    <h3 class="card-title">รอยืนยันการจอง</h3>
                    <p style="font-size: 5rem; cursor: default">7</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
            <div class="card text-center" style="background-color: #28a745">
                <div class="card-body">
                    <h3 class="card-title">จองสำเร็จ</h3>
                    <p style="font-size: 5rem; cursor: default">5</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
            <div class="card text-center" style="background-color: #da5151">
                <div class="card-body">
                    <h3 class="card-title">จองไม่สำเร็จ</h3>
                    <p style="font-size: 5rem; cursor: default">4</p>
                </div>
            </div>
        </div>
    </div>
</div>
